/* Author: Brian Ranta */

/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*import fonts*/
@import url("https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap");

/*root to declare color variables*/
:root{
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--darkgray: #222222;
	--lightgray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
	font-size: 16px;
	font-family: Molle, Monteserrat;
	box-sizing: border-box;
}

body {
	line-height: 1rem;
	color: var(--darkgray);
}
/*skiplink css*/
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skipLink:focus{
	top: 1em;
	left: 1em;
	display: block;
	font-size: 1.2em;
	padding: 0.5em;
	width: 25%;
	height: 1.5em;
	line-height: 1.3em;
}
/*add color appropiate gradient to header*/
header{
	padding: 1rem;
	background-image: linear-gradient(var(--teal), var(--white));
}
/*insert logo*/
header img{
	max-width: 200px;
  	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: .5rem;
	align-items: left;
}
/*for smaller screens and mobile*/
@media only screen and (max-width: 600px) {
	label[for=toggle]{
		display: inline-block;
		background-color: var(--white);
		color: var(--black);
		max-width: 43%;
		margin-left: 1rem;
		padding: 2rem 0;
		text-align: center;
	}
	label[for=toggle]:hover{
		background-color: var(--yellow);
	}
	#menu-toggle {
		display: block;
		position: relative;
		top: 50px;
		left: 50px;  
		z-index: 1;  
		-webkit-user-select: none;
		-moz-user-select: none;
		 -ms-user-select: none;
			 user-select: none;
	  }
	  
	  #menu-toggle a {
		text-decoration: none;
		color: var(--black);
		-webkit-transition: color 0.3s ease;
		-o-transition: color 0.3s ease;
		transition: color 0.3s ease;
	  }
	  
	  /* The hamburger button hidden inside an input element */
	  #menu-toggle input {
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		top: -7px;
		left: -5px;  
		padding: 0;
		cursor: pointer;  
		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */  
		-webkit-touch-callout: none;
	  }
	  
	  #menu-toggle label {
		position: relative;
		display: grid;
	  }
	  
	  #menu-toggle label div:first-child {
		-webkit-transform-origin: 0% 100%;
			-ms-transform-origin: 0% 100%;
				transform-origin: 0% 100%;
	  }
	  
	  #menu-toggle label div:nth-child(2) {
		  -webkit-transform-origin: 0% 0%;
			-ms-transform-origin: 0% 0%;
				transform-origin: 0% 0%;
	  }
	  
	  
	  /*
	   * Use absolute positioning to place the menu off-screen
	   */
	#menu {
		position: absolute;
		max-width: 43%;
		margin-left: 1rem;
		padding: 2rem 0;
		text-align: center;
		background: var(--teal);
		height: 20vh;
		list-style-type: none;
		/* Hide the menu off-screen to the left */
		left: -100%;
		-webkit-transition: left 0.3s ease;
		-o-transition: left 0.3s ease;
		transition: left 0.3s ease; 
	}
	  
	#menu ul {
		padding: 10px 0;
		font-size: 22px;
	}
	  
	  /*
	   * Slide the menu in from left when the input is checked
	   */
	#menu-toggle input:checked ~ ul {
		left: 0;
	  }
	  /* hide regular nav options for smaller screen for menu button */
	ul li{
		display: none;
	}
	#plan div{
		margin: 1rem;
		display: grid;
		align-items: center;
		justify-content: center;
	}
	#about div{
		display:grid;
		align-items: center;
		justify-content: center;
		margin: 1rem;
	}
	#testimonials div{
	display:block;
	}
}
/*for anything larger than mobile*/
@media only screen and (min-width: 601px) {
	#toggle {
		display: none;
		flex-direction: column;
		width: 100%;
		padding: 2rem 0;
	}
	label[for=toggle]{
		display: none;
	}
	#menu-toggle a{
		margin: 1rem;
		background-color: var(--white);
		color: var(--black);
	}
	#menu-toggle a:hover{
		background-color: var(--yellow);
	}
	a:hover{
		background-color: var(--white);
		color: var(--black);
		background-color: var(--yellow);
	}
	
	ul{
		display: flex;
	}
	ul li{
		display: inline-block;
	}
	#plan div{
		margin: 1rem;
		display:inline-flex;
	}
	#about div{
		display:inline-flex;
		align-items: center;
		margin: 1rem;
	}
	#testimonials div{
		display:flex;
	}
	
}

.logo{
	padding: 0.5rem;
}

h1, h2, h3{
	font-family: Molle;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
}
/*only show to screen readings*/
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }

.intro:after{
	content: "";
  	display: table;
  	clear: both;
}
/*image grid for photos of beach*/
#img-grid{
	float: left;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
}

#intro{
	padding: 5%;
	Display: flex;
	flex-wrap: wrap;
}

#toggle {
	display: none;
	flex-direction: column;
	width: 100%;
	padding: 2rem 0;
}

h1{
	font-size: 2em;
	padding: 0.5em;
}
/*desginating font family for certain classes*/
h4, p, q, nav, small, button, form{
	font-family: Montserrat;
}

nav ul{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

nav a{
	display: block;
	padding: 1em;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

/*appropriate background color added for about section*/
#about{
  	gap: .5rem;
	background-color: var(--blue);
	align-items: center;
}
#about h3{
	font-size: 1.75rem;
	margin-top: 2rem;
	padding: 2rem;
}

#about h4, #about p{
	grid-column: 1 / -1;
  	padding:0;
}
#about img{
	width: 50%
}
#about p{
	align-items: center;
}

#about section{
	margin-right: 2rem;
	padding: 1rem;
	align-items: center;
	justify-content: center;
}
/*testimonials section*/
#testimonials section{
	display: block;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 0.25rem;
    padding-bottom: 1rem;
}

#testimonials img{
	width: 40%
}
#testimonials p{
	text-align: justify;
}

h2{
	font-size: 1.5em;
	margin: 0.5em 0;
}

p{
	width: 100%;
	max-width: 650px;
	margin:  0 auto;
}

/*background color and visual adjustments for plan section*/
#plan{
	align-items: center;
	background-color: var(--yellow);
}

#plan section{
	width: 20%;
	margin: 1rem;
	text-align: center;
	align-items: center;
	font-size: 1.2rem;
	background-color: var(--teal);
	padding: 1rem;
	border-radius: 0.2em;
	border: 4px var(--white);
}
#plan h3{
	margin: 1rem;
	padding: 2rem;
}
h3{
	font-size: 1.35em;
	margin: 0.5em 0;
}

/*css for fprm and appropriate purple color used*/
form{
	width: 90%;
	max-width: 350px;
	margin:  2em auto;
	padding:  0.75em;
	border-radius: 0.2em;
}

input, label, textarea{
	display: block;
	width: calc(100% - 2em);
}

input, textarea, select{
	outline: 1px solid var(--purple);
	border: none;
	border-radius: 0.2em;
}

label{
	font-size: 1.1em;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
	margin: 8px;
}

svg {
	background-color: var(--teal);
}

.required{
	color: var(--purple);
}

input{
	width: 90%;
	margin: 0.25em auto 0.5em auto;
	padding: 0.5em;
	border: var(--purple);
}

input:focus, select:focus, textarea:focus{
	border: 2px inset var(--purple);
	box-shadow: 0 0 0 0.09em currentColor;
}

input:error, select:error, textarea:error{
	background-color: var(--purple);
}

fieldset{
	margin: 0.5em auto;
	padding-bottom: 0.5em;
	width: 94%;
	border: 1px solid var(--purple);
	border-radius: 0.2em;
	display: grid;
	grid-template-columns: 30px 1fr 30px 1fr;
}

legend{
	padding: 0.5em;
}

fieldset label{
	display: inline;
	width: 60%;
}

fieldset input{
	display: inline;
	width: 20px;
}

select{
	display: block;
	width: 95%;
	margin: 0.25em auto 0.5em auto;
	padding: 0.5em;
	font-size: 1em;
}

textarea{
	width: 90%;
	height: 100px;
	margin: 0.25em auto 0.5em auto;
	padding: 0.5em;
}

#form-required{
	font-family: Monteserrat;
}

span{
	font-size: 75%;
	font-family: Monteserrat;
	color: var(--black);
	font-style: oblique;
}

input[type="radio"]{
	display: inline-block;
	position: relative;
	vertical-align: center;
	margin-top: 0.2em;
	outline: none;
	border-radius: 25%;
	margin-right: 0.5em;
	accent-color: var(--purple);
}

input[type="submit"]{
	font-size: 1.2em;
	width: 95%;
	margin-top: 1em;
	padding: 0.5em;
	border: none;
	outline: none;
	border-radius: 0.2em;
	background-color: var(--purple);
	color: var(--white);
}
/* submit button on hover or focus have dropshadow*/
input[type="submit"]:hover, input[type="submit"]:focus{
	filter: drop-shadow(8px 8px 4px var(--lightgray));
}
/* footer section with appropriate font*/
footer{
	padding: 1em;
	border-top: 5px solid var(--lightgray);
	text-align: center;
	background-color: var(--lightgray);
	a{
		float: right;
		font-family: Monteserrat;
		color: var(--black);
		background-color: var(--lightgray);
		margin-right: 1rem;
	}
	p{
		background-color: var(--lightgray);
		float:left;
	}
}